@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show underline on both hover and active */
a.active hr, a:hover hr {
  display: block;
}

*{
  font-family: Outfit, "Dancing Script"  ;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

/* Hide F1 dropdown for screens below 825px */
@media (max-width: 825px) {
  .f1-dropdown {
    display: none !important;
  }
}

@media (max-width:640px){
  a:hover {
    background-color: black;
    color: white;
  }
}

.prose {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

[class*="ql-decoration-"] {
  text-decoration-thickness: 2px !important;
  text-underline-offset: 2px !important;
}

.quill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ql-container {
  flex: 1;
  overflow: auto;
}